<section class="container">
    <div class="product-list" *ngIf="productData">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="{{productData.url}}">
            </div>
            <div class="col-lg-6 col-md-6 col-12 product-details">
                <p>AlbumId : {{productData.albumId}}</p>
                <p>Product Id : {{productData.id}}</p>
                <h3>{{productData.title}}</h3>
            </div>
        </div>
    </div>
</section>

