<!-- <nav class="navbar navbar-expand-lg bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Project E-Kart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex" role="search">
          <h5 *ngIf="!emailValue">User</h5>
          <h5 *ngIf="emailValue">{{emailValue}}</h5>
        </div>
      </div>
    </div>
  </nav> -->
<router-outlet></router-outlet>